@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@900&display=swap');
@import url('https://fonts.google.com/specimen/Poppins?category=Sans+Serif');
@import url('https://fonts.google.com/specimen/Roboto?category=Sans+Serif');
@media (min-width: 992px) {
    .rounded-lg-3 {
        border-radius: .3rem;
    }
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}

main>.container {
    padding: 60px 15px 0;
}

h1 {
    font-family: 'Raleway', sans-serif;
}

h2 {
    /*font-family: 'Poppins', sans-serif;*/
    font-family: 'Raleway', sans-serif;
    font-size: 30px;
}

h4 {
    font-family: 'Poppins', sans-serif;
}

p {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

body {
    background-color: #FFFFFF;
}

.nav_bg {
    background-color: #EBEBF5;
}
/* Solid border */
hr.solid {
    border-top: 3px solid #000;
}
.container1 {
    width: auto;
    max-width: 680px;
    padding: 0 15px;
}

.contact1 {
    background-color: #EBEBF5;
}

.b {
    color: #39387C;
    font-weight: 600;
}

.hero {
    background-color: rgba(246, 246, 246, 0.5);
}

main>section {
    margin-top: 4rem;
    margin-bottom: 4rem;
}

.service-card-content {
    height: 380px;
}

.service-card:hover {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}

.tool-img-container {
    height: 150px;
}

.tool-img-container:hover {
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.075);
}

.tool-img {
    width: auto;
    height: 100%;
}

#discuss {
    background-color: rgba(246, 246, 246, 0.5);
}

#contact h4 svg {
    margin-right: 10px;
}

.action {
    background-color: #C9AF32;
}
.timeline:before {
    content: "";
    background: var(--bs-secondary);
    width: 5px;
    height: 95%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    }
    .timeline-item:nth-child(even) .timeline-content {
    float: right;
    padding: 40px 30px 10px 30px;
    }
    .timeline-item:nth-child(even) .timeline-content .date {
    right: auto;
    left: 0;
    }
    .timeline-item:nth-child(even) .timeline-content::after {
    content: "";
    position: absolute;
    border-style: solid;
    width: 0;
    height: 0;
    top: 30px;
    left: -15px;
    border-width: 10px 15px 10px 0;
    border-color: transparent var(--bs-light) transparent transparent;
    }
    .timeline-item::after {
    content: "";
    display: block;
    clear: both;
    }
    .timeline-content {
    position: relative;
    width: 45%;
    padding: 10px 30px;
    border-radius: 4px;
    background: var(--bs-light);
    }
    .timeline-content::after {
    content: "";
    position: absolute;
    border-style: solid;
    width: 0;
    height: 0;
    top: 30px;
    right: -15px;
    border-width: 10px 0 10px 15px;
    border-color: transparent transparent transparent var(--bs-light);
    }
    .timeline-img {
    width: 30px;
    height: 30px;
    background: var(--bs-secondary);
    border-radius: 50%;
    position: absolute;
    left: 50%;
    margin-top: 25px;
    margin-left: -15px;
    }
    @media screen and (max-width: 768px) {
    .timeline::before {
    left: 50px;
    }
    .timeline .timeline-img {
    left: 50px;
    }
    .timeline .timeline-content {
    max-width: 100%;
    width: auto;
    margin-left: 70px;
    }
    .timeline .timeline-item:nth-child(even) .timeline-content {
    float: none;
    }
    .timeline .timeline-item:nth-child(odd) .timeline-content::after {
    content: "";
    position: absolute;
    border-style: solid;
    width: 0;
    height: 0;
    top: 30px;
    left: -15px;
    border-width: 10px 15px 10px 0;
    border-color: transparent #f5f5f5 transparent transparent;
    }
    }